{% extends 'base.html' %}

{% load static %}

{% block title %} Trip - list {% endblock title %}

{% block style_link %} <link href="/static/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"> {% endblock style_link %}

{% block content %}
    <div class="container-fluid">

          <!-- Page Heading -->

            
        <div class="d-sm-flex align-items-center justify-content-between">
            <h1 class="h3 mb-2 text-gray-800">Trip</h1>
            <a href="{% url 'add_course' %}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
                <i class="fas fa-plus fa-sm text-white-500"></i> New Trip
            </a>
        </div><br>

          
        <p>Available Trip Employees can signup for and attend.</p>

        <div class="card shadow mb-5">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">Course</h6>
        </div>
        <div class="card-body">
            
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Employees</th>
                    </tr>
                </thead>

                {% for course in courses %}
                    <tr>
                        <td> {{ course.name }} </td>
                        <td> {{ course.description }} </td>
                        <td> {% for employee in course.employees.all %} {{ employee.first_name }} {{ employee.surname }}, {% endfor %}</td>
                    </tr>
                {% endfor %}
            </table>

    </div>
{% endblock content %}

{% block script %}

    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>


{% endblock script %}