{% extends 'base.html' %}

{% load static %}

{% block title %} Category - list {% endblock title %}

{% block style_link %} <link href="/static/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"> {% endblock style_link %}

{% block internal_style %}

    <style>
        td > a {
            color: #858796;
        }
    </style>

{% endblock internal_style %}

{% block content %}
    <div class="container-fluid">

          <!-- Page Heading -->
        {% if messages %}
            {% for message in messages %}
                <div class="col-lg-12 mr-auto ml-auto alert {{ message.tags }} alert-dismissable pb-0 pt-0" role="alert">
                    <button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true" class="text-light font-weight-bold"><b>&times;</b></span>
                    </button>
                    <div class="row">
                        <div class="mr-auto ml-auto">
                        <p class="h5 mr-auto ml-auto p-2 text-secondary">
                             <b>
                                {% if message.tags ==  "alert-danger" %}
                                    <i class="fa fa-exclamation-triangle mr-3 text-danger"></i> {{ message }}
                                {% else %}
                                    <i class="fa fa-check"></i> {{ message }}
                                {% endif %}
                            </b>
                        </p>
                    </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

            
        <div class="d-sm-flex align-items-center justify-content-between">
            <h1 class="h3 mb-2 text-gray-800">Categories</h1>
            <a href="{% url 'add_category' %}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
                <i class="fas fa-plus fa-sm text-white-500"></i> New Category
            </a>
        </div><br>

          
        <p>Available Categories for creation of employees.</p>

        <div class="card shadow mb-5">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">Trips</h6>
        </div>
        <div class="card-body">
            
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>

                {% for category in categories %}
                    <tr>
                        <td> {{ category.name }} </td>
                        <td> {{ category.description }} </td>
                        <td style="cursor: pointer"><a data-toggle="modal" data-target="#deleteModal" href="#"><i class="fa fa-trash-alt"></i></a></td>
                    </tr>
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteRankModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Ready to Delete?</h5>
                          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">Are you sure you want to delete Rank?</div>
                        <div class="modal-footer">
                          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                          <a class="btn btn-danger" href="{% url 'delete_category' category.pk %}">Delete</a>
                        </div>
                      </div>
                    </div>
                </div>
                {% endfor %}
            </table>
        </div>
  </div>
{% endblock content %}

{% block script %}

    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>


{% endblock script %}