{% extends 'base.html' %}

{% load static %}

{% block title %} Employee - list {% endblock title %}

{% block internal_style %}
    <style>
        td > a{
            color: #858796;
            text-decoration: none;
        }

        /*the container must be positioned relative:*/
        .autocomplete {
            box-sizing: border-box;
            position: relative;
            display: block;
        }

        .search-bar {
            border: 1px solid transparent;
            background-color: #f1f1f1;
            padding: 10px;
            font-size: 16px;
            text-align: center;
        }

        .autocomplete-items {
            box-sizing: border-box;
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;           
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
        }

        .autocomplete-items div {
            border-radius: 5px;
            box-sizing: border-box;
            padding: 10px;
            cursor: pointer;
            background-color: #fff; 
            border-bottom: 1px solid #d4d4d4; 
        }

        /*when hovering an item:*/
        .autocomplete-items div:hover {
            background-color: #e9e9e9; 
        }

        /*when navigating through the items using the arrow keys:*/
        .autocomplete-active {
            background-color: DodgerBlue !important; 
            color: #ffffff; 
        }
        
    </style>

{% endblock internal_style %}

{% block style_link %} <link href="/static/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"> {% endblock style_link %}

{% block content %}
    <div class="container-fluid">

          <!-- Page Heading -->

          {% if messages %}
            {% for message in messages %}
                <div class="col-lg-12 mr-auto ml-auto alert {{ message.tags }} alert-dismissable pb-0 pt-0" role="alert">
                    <button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true" class="text-dark font-weight-bold"><b>&times;</b></span>
                    </button>
                    <div class="row">
                        <div class="mr-auto ml-auto">
                        <p class="h5 mr-auto ml-auto p-2 text-dark">
                             <b>
                                {% if message.tags ==  "alert-danger" %}
                                    <i class="fa fa-exclamation-triangle mr-3 text-danger"></i> {{ message }}
                                {% else %}
                                    <i class="fa fa-check mr-3"></i> {{ message }}
                                {% endif %}
                            </b>
                        </p>
                    </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

            
        <div class="d-sm-flex align-items-center justify-content-between">
            <h1 class="h3 mb-2 text-gray-800">Employees</h1>
            <div class="col-5">
                <form action="{% url 'add_by_rank' %}">
                    <div class="autocomplete">
                        <div class="input-group group-search">
                            <input name="rank" id="searchBar" placeholder="Search by Rank..." class="form-control search-bar mb-1" type="text">
                            <div class="input-group-append">
                                <button class="d-none d-sm-inline-block btn btn-warning shadow-sm">
                                    <i class="fas fa-sm fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <a href="{% url 'add_employee' %}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
                <i class="fas fa-plus fa-sm text-white-500"></i> New Employee
            </a>
            
        </div><br>

          
        <p>Employees Available for a course</p>

        <div class="card shadow mb-5">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">Employee</h6>
        </div>
        <div class="card-body">
            
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Rank</th>
                        <th>Station</th>
                        <th>Country</th>
                        <th>No. Of Course</th>
                        <th>Course</th>
                        <th>View</th>
                    </tr>
                </thead>

                {% for employee in employees %}
                    <tr>
                        <td>
                            <a target="_blank" href="{% if employee.avatar %} {{ employee.avatar.url }} {% else %} {% if employee.sex == 'M' %} {% static 'assets/images/face-1.png' %} {% else %} {% static 'assets/images/pic-2.png' %} {% endif %} {% endif %}">
                                <img style="margin:0; padding:0; border-radius:50%;" src="{% if employee.avatar %} {{ employee.avatar.url }} {% else %} {% if employee.sex == 'M' %} {% static 'assets/images/face-1.png' %} {% else %} {% static 'assets/images/pic-2.png' %} {% endif %} {% endif %}" width="50" height="50" />
                            </a>
                        </td>
                        <td> {{ employee.first_name }} {{ employee.surname }} </td>
                        <td> {{ employee.category }} </td>
                        <td> {{ employee.station }}</td>
                        <td> {{ employee.country.name }}</td>
                        <td> {{ employee.course_set.count }}</td>
                        <td> 
                            {% if employee.course_set.count > 0 %}
                                {% for course in employee.course_set.all %} {{ course.name }}, {% endfor %}
                            {% else %} 
                                No Course Yet 
                            {% endif %}
                        </td>
                        <td><a href="{% url 'detail_employee' employee.pk %}"><i class="fas fa-eye"></i></a></td>

                    </tr>
                {% endfor %}
            </table>

    </div>
{% endblock content %}

{% block script %}

    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script>
        const myData = [
            {% for category in categories %} 
                "{{ category.name | safe }}",
            {% endfor %}
        ];

        function autocomplete(inp, arr) { 
            // alert("Inside function");
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function(e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) { return false;}
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                /*for each item in the array...*/
                for (i = 0; i < arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function(e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                    }
                }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function(e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

        autocomplete(document.getElementById("searchBar"), myData); 

        const userInput = document.getElementById("searchBar");
        userInput.addEventListener("oninput", function(e) {
        });

    </script>


{% endblock script %}