{% extends 'base.html' %}

{% load static %}

{% block title %} Employee - list {% endblock title %}

{% block style_link %} <link href="/static/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"> {% endblock style_link %}

{% block content %}
    <div class="container-fluid">

          <!-- Page Heading -->

          {% if messages %}
            {% for message in messages %}
                <div class="col-lg-12 mr-auto ml-auto alert {{ message.tags }} alert-dismissable pb-0 pt-0" role="alert">
                    <button type="button" class="close p-2" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true" class="text-light font-weight-bold"><b>&times;</b></span>
                    </button>
                    <div class="row">
                        <div class="mr-auto ml-auto">
                        <p class="h5 mr-auto ml-auto p-2 text-light">
                             <b>
                                {% if message.tags ==  "alert-danger" %}
                                    <i class="fa fa-exclamation-triangle mr-3 text-danger"></i> {{ message }}
                                {% else %}
                                    <i class="fa fa-check"></i> {{ message }}
                                {% endif %}
                            </b>
                        </p>
                    </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

            
        <div class="d-sm-flex align-items-center justify-content-between">
            <h1 class="h3 mb-2 text-gray-800">Employees</h1>
            <a href="{% url 'add_employee' %}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
                <i class="fas fa-plus fa-sm text-white-500"></i> New Employee
            </a>
        </div><br>

          
        <p>Employees Available for a course</p>

        <div class="card shadow mb-5">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">Employee</h6>
        </div>
        <div class="card-body">
            
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Course</th>
                        <th>Station</th>
                        <th>Country</th>
                        <th>No. Of Course</th>
                        <th>Course</th>
                    </tr>
                </thead>

                {% for employee in employees %}
                    <tr>
                        <td>
                            <a target="_blank" href="{{ employee.avatar.url }}"><img style="margin:0; padding:0; border-radius:50%;" src="{{ employee.avatar.url }}" width="50" height="50" /></a>
                        </td>
                        <td> {{ employee.first_name }} {{ employee.surname }}</td>
                        <td> {{ employee.category }} </td>
                        <td> {{ employee.course_name }}</td>
                        <td> {{ employee.station }}</td>
                        <td> {{ employee.country.name }}</td>
                        <td> {{ employee.course_set.count }}</td>
                        <td> 
                            {% if employee.course_set.count > 0 %}
                                {% for course in employee.course_set.all %} {{ course.name }}, {% endfor %}
                            {% else %} 
                                No Course Yet 
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
            </table>

    </div>
{% endblock content %}

{% block script %}

    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>


{% endblock script %}