{% extends 'base.html'%}

{% block content %}
        <!-- 404 Error Text -->
        <div class="text-center">
            <div class="error mx-auto" data-text="403">403</div>
            <p class="lead text-gray-800 mb-5">You Do Not Have Enough Permissions To Access This Page.<br>Thank You</p>
            <p class="text-gray-500 mb-0">Please kindly contact the System Administrator...</p>
            <a href="#" onclick="window.history.back()">&larr; Back to Home</a>
        </div>

{% endblock content %}